<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>ICT</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- English content -->
    <main style="margin: 0;">
        <div class="content lang-en">
            <form action="#" method="post" id="request_from" style="margin: 0;" style="margin: 0;border: 0;">
                <p style="font-size: 14px; color: gray;">
                    Date: {{request_data.created_date}} | Time: {{request_data.created_time}};
                </p>

                <h2>Changed Track Request Form</h2>
                <p>
                    <strong>
                        Dear Assistant Dean for Academic Affairs, Faculty of ICT
                    </strong>
                </p>
                <p>
                <div for="student_name">
                    <input type="text" id="student_name" name="student_name" value="{{request_data.student_name}}"
                        placeholder="Name-Surname" required />
                </div>
                Student ID
                <div>
                    <input type="text" onkeypress=" return onlyNumberKey(event)" id="student_id" name="student_id"
                        value="{{request_data.student_id}}" placeholder="Student ID" maxlength="7" required />
                </div>
                <p>
                    Email
                    <input type="email" id="email" name="email" placeholder="Email" value="{{request_data.email}}"
                        required />
                </p>
                a student of the Bachelor of Science Program in Information and Communication Technology
                <div>
                    <input type="tel" id="phone" name="mobile_number" placeholder="Mobile Phone"
                        value="{{request_data.mobile_number}}" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required />
                </div>
                </p>
                <p>
                <h4>I Would like to request the following changes : </h4>
                </p>
                <table class="track-table">
                    <thead>
                        <tr>
                            <th>Current Track</th>
                            <th>New Track</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select name="current_track">
                                    <option value="CN" {% if request_data.current_track=="CN" %} selected {% endif %}>CN
                                        : Computer Network</option>
                                    <option value="CS" {% if request_data.current_track=="CS" %} selected {% endif %}>CS
                                        : Computer Science</option>
                                    <option value="DB" {% if request_data.current_track=="DB" %} selected {% endif %}>DB
                                        : Database and Intelligent Systems</option>
                                    <option value="EB" {% if request_data.current_track=="EB" %} selected {% endif %}>EB
                                        : E-Business Systems</option>
                                    <option value="HT" {% if request_data.current_track=="HT" %} selected {% endif %}>HT
                                        : Health Information Technology</option>
                                    <option value="MM" {% if request_data.current_track=="MM" %} selected {% endif %}>MM
                                        : Multimedia Systems</option>
                                    <option value="MS" {% if request_data.current_track=="MS" %} selected {% endif %}>MS
                                        : Management Information Systems</option>
                                    <option value="SE" {% if request_data.current_track=="SE" %} selected {% endif %}>SE
                                        : Software Engineering</option>
                                </select>

                            </td>
                            <td>
                                <select name="new_track">
                                    <option value="CN" {% if request_data.new_track=="CN" %} selected {% endif %}>CN :
                                        Computer Network</option>
                                    <option value="CS" {% if request_data.new_track=="CS" %} selected {% endif %}>CS :
                                        Computer Science</option>
                                    <option value="DB" {% if request_data.new_track=="DB" %} selected {% endif %}>DB :
                                        Database and Intelligent Systems</option>
                                    <option value="EB" {% if request_data.new_track=="EB" %} selected {% endif %}>EB :
                                        E-Business Systems</option>
                                    <option value="HT" {% if request_data.new_track=="HT" %} selected {% endif %}>HT :
                                        Health Information Technology</option>
                                    <option value="MM" {% if request_data.new_track=="MM" %} selected {% endif %}>MM :
                                        Multimedia Systems</option>
                                    <option value="MS" {% if request_data.new_track=="MS" %} selected {% endif %}>MS :
                                        Management Information Systems</option>
                                    <option value="SE" {% if request_data.new_track=="SE" %} selected {% endif %}>SE :
                                        Software Engineering</option>
                                </select>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <p>
                    Reason :
                </p>
                <textarea name="reason" rows="5">{{request_data.reason}}
                </textarea>

                <div>
                    <p>Signature</p>
                    ___________________________
                </div>
                <div style="margin-top: 20px;">
                    <img src="{{ url_for('static', path='/confirm.png') }}" alt="Signature"
                    style="width:100%;"
                     />
                </div>

            </form>
        </div>
    </main>


    <!-- Thai content -->
    <main style="margin: 0;">
        <div class="content lang-th" style="display: none;">
            <form action="" id="request_form" method="post" style="margin: 0;">
                <span class="date" id="currentDate-th"></span>
                <h2>แบบฟอร์มคำขอเปลี่ยนแปลงสาขาวิชา</h2>
                <p>
                    <strong>
                        เรียน รองคณบดีฝ่ายวิชาการ คณะเทคโนโลยีสารสนเทศเเละการสื่อสาร
                    </strong>
                </p>
                <p>
                <div for="student_name">
                    <input type="text" id="student_name" name="student_name" placeholder="ชื่อ-นามสกุล" required />
                </div>
                รหัสประจำตัวนักศึกษา
                <div>
                    <input type="text" onkeypress=" return onlyNumberKey(event)" id="student_id" name="student_id"
                        placeholder="รหัสประจำตัวนักศึกษา" maxlength="7" required />
                </div>
                นักศึกษาคณะวิทยาการสารสนเทศและการสื่อสาร
                <div>
                    <input type="tel" id="mobile_number" name="mobile_number" placeholder="หมายเลขโทรศัพท์"
                        pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required />
                </div>
                </p>

                <p>
                <h4>ข้าพเจ้าขอแจ้งความประสงค์เพื่อขอเปลี่ยนแปลงดังนี้ : </h4>
                </p>
                <table class="track-table">
                    <thead>
                        <tr>
                            <th>สาขาวิชาปัจจุบัน</th>
                            <th>สาขาวิชาใหม่</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select name="current_track">
                                    <option value="CN">CN : Computer Network</option>
                                    <option value="CS">CS : Computer Science</option>
                                    <option value="DB">DB : Database and Intelligent Systems</option>
                                    <option value="EB">EB : E-Business Systems</option>
                                    <option value="HT">HT : Health Information Technology</option>
                                    <option value="MM">MM : Multimedia Systems</option>
                                    <option value="MS">MS : Management Information Systems</option>
                                    <option value="SE">SE : Software Engineering</option>
                                </select>
                            </td>
                            <td>
                                <select name="new_track">
                                    <option value="CN">CN : Computer Network</option>
                                    <option value="CS">CS : Computer Science</option>
                                    <option value="DB">DB : Database and Intelligent Systems</option>
                                    <option value="EB">EB : E-Business Systems</option>
                                    <option value="HT">HT : Health Information Technology</option>
                                    <option value="MM">MM : Multimedia Systems</option>
                                    <option value="MS">MS : Management Information Systems</option>
                                    <option value="SE">SE : Software Engineering</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    เหตุผล :
                </p>
                <textarea name="reason" rows="5"></textarea>


            </form>
        </div>
    </main>


</body>
<script>
    //auto print page
    window.onload = function () {
        window.print();
    }
</script>
</html>